In [16]:
# from statsmodels.regression.rolling import RollingOLS
# import pandas_datareader.data as web
# import matplotlib.pyplot as plt
# import statsmodels.api as sm
# import pandas as pd
# import numpy as np
# import datetime as dt
# import yfinance as yf
# import pandas_ta
# import warnings
# warnings.filterwarnings('ignore')

# sp_list = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
# sp_list['Symbol'] = sp_list['Symbol'].str.replace('.', '-')
# symbols_list = sp_list['Symbol'].unique().tolist()

# end_date = '2024-02-01'
# start_date = pd.to_datetime(end_date)-pd.DateOffset(365 * 8)

# df = yf.download(tickers=symbols_list,
#                 start=start_date,
#                 end=end_date).stack()

# df.index.names = ['date', 'ticker']

# df.columns = df.columns.str.lower()

df['garman_klass_vol'] = (np.log(df['high'])-np.log(df['low']))**2/2-(2*np.log(2)-1)*(np.log(df['adj close'])-np.log(df['open']))**2

df['rsi'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.rsi(close=x, length=20))

# df.xs('AAPL', level=1)['rsi'].plot()

# pandas_ta.bbands(close=df.xs('AAPL', level=1)['adj close'], length=20)

# df['bb_low'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,0])

# df['bb_mid'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,1])
                            
# df['bb_high'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,2])

df

Price               adj close       close        high         low        open  \
date       ticker
2016-02-03 A        34.854248   37.189999   37.360001   36.290001   37.270000
           AAL      35.846260   37.509998   37.610001   35.759998   37.380001
           AAPL     21.901142   24.087500   24.209999   23.520000   23.750000
           ABBV     40.270847   56.840000   57.180000   54.049999   54.529999
           ABT      32.777737   38.020000   38.410000   37.099998   38.230000
...                       ...         ...         ...         ...         ...
2024-01-31 YUM     129.490005  129.490005  131.979996  129.259995  131.449997
           ZBH     125.599998  125.599998  127.449997  124.019997  124.019997
           ZBRA    239.550003  239.550003  250.000000  238.479996  250.000000
           ZION     41.463322   41.900002   43.540001   41.689999   42.189999
           ZTS     187.809998  187.809998  192.779999  187.440002  192.130005

Price                   volume  garman_klass_vol        rsi    bb_low  \
date       ticker
2016-02-03 A         2128100.0         -0.001313        NaN       NaN
           AAL      12390500.0          0.000594        NaN       NaN
           AAPL    183857200.0         -0.002119        NaN       NaN
           ABBV     16435700.0         -0.033910        NaN       NaN
           ABT       6914000.0         -0.008544        NaN       NaN
...                        ...               ...        ...       ...
2024-01-31 YUM       2154200.0          0.000130  51.308297  4.856335
           ZBH       2460100.0          0.000310  65.258890  4.792366
           ZBRA       482600.0          0.000408  43.835933  5.488361
           ZION      4657400.0          0.000826  50.223487  3.714454
           ZTS       2150000.0          0.000195  47.862792  5.227139

Price                bb_mid   bb_high
date       ticker
2016-02-03 A            NaN       NaN
           AAL          NaN       NaN
           AAPL         NaN       NaN
           ABBV         NaN       NaN
           ABT          NaN       NaN
...                     ...       ...
2024-01-31 YUM     4.872943  4.889551
           ZBH     4.813736  4.835105
           ZBRA    5.532482  5.576602
           ZION    3.774290  3.834127
           ZTS     5.263276  5.299413

[994928 rows x 11 columns]